@import 'nullstyle.scss';

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lab Grotesque', sans-serif;
    font-weight: 200;
    letter-spacing: .2rem;
}
.main__admin,.main,.main__news,.main__work,.main__order,.cart, .news_ab{
    flex-grow: 1;
}
.wrapper{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.cart{
    display: flex;
   flex-direction:column;
   
    width: 1500px;
    .cart__about{
        text-align: right;
        padding-bottom: 15px;
    }
    .cart__back{
        margin-top: 35px;
    }
    a{
        color: #8EA076;
        -webkit-text-stroke: .02em #564734ad
    }
    a:hover{
        -webkit-text-stroke: .02em #56473400
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
        font-size: 30px;
         padding-top: 50px;
    }
   ul{
        display: flex;
        justify-content:space-around;
        // align-content:center;
        // align-items:center;
        flex-direction:row;
        flex-wrap:wrap;
        
    } 
}

.cards{
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 20px;
    // margin-left: 100px;
    width: 380px;
    height: 335px;
    position: relative;
    overflow: hidden;
    
    
    >img{
        position:absolute;
        height: 335px;
        object-fit: cover;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 380px;
        filter: brightness(40%)
    }
    >h2, >p,>button{
        position: absolute;
        display: flex;
        top: 30%;
        left: 3%;
        
        justify-content: center;
        text-transform: uppercase;
        color: #f9f6f4;
        width: 360px;
        background: #000000bb;
        padding: 10px;
       
    }
    >p{
        top: 40%;
    }
    >button{
        top:50%
    }

}
.main__img-img{
    display: flex;
    text-align: center;
    height: 1050px;
    img{
    width: 100%;}
    .one,.two,.three,.four,.five,.six,.seven,.eight, .nine{
        position: absolute;
        
    }
}


.two{
    width: 1300px;
    animation: two 5s  linear ;
    animation-fill-mode: forwards; 
}
@keyframes two{
    to{
       transform: translate(300px,635px); 
    }
    from{
        transform: translate(-2000px,479px);
    }
    
}
.one{
    width: 1300px;
    animation: one 5s  linear ;
    animation-fill-mode: forwards;                                                
}
@keyframes one{
    to{
       transform: translate(300px,450px); 
    }
    from{
        transform: translate(150px,-300px);
    }
    
}

.three,.five,.four,.seven,.six,.eight{
    width: 380px;
}
.three{
    animation: three 5s  linear ;
    animation-fill-mode: forwards;
    width: 387px;
}
@keyframes three{
    to{
       transform: translate(1130px,95px); 
    }
    from{
        transform: translate(-150px,-300px);
    }
    
}
.six{
    animation: six 5s  linear ;
    animation-fill-mode: forwards;
}

@keyframes six{
    to{
       transform: translate(752px,95px); 
    }
    from{
        transform: translate(852px,-800px);
    }
    
}
.eight{
    animation: eight 5s  linear ;
    animation-fill-mode: forwards;
    width: 387px;
}

@keyframes eight{
    to{
       transform: translate(390px,95px); 
    }
    from{
        transform: translate(852px,-800px);
    }
    
}

.seven{
    animation: seven 5s  linear ;
    animation-fill-mode: forwards;
    width: 395px;
}

@keyframes seven{
    to{
       transform: translate(393px,232px); 
    }
    from{
        transform: translate(852px,-800px);
    }
    
}

.four{
    animation: four 5s  linear ;
    animation-fill-mode: forwards;
    width: 355px;
}

@keyframes four{
    to{
       transform: translate(780px,240px); 
    }
    from{
        transform: translate(0px,-800px);
    }
    
}
.five{
    animation: five 5s  linear ;
    animation-fill-mode: forwards;
    width: 395px;
}

@keyframes five{
    to{
       transform: translate(1121px,238px); 
    }
    from{
        transform: translate(1221px,1238px);
    }
    
}
.nine{
    // display: none;
    animation: ten 10s  linear ;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    div{
        animation: nine 10s  linear ;
        animation-fill-mode: forwards;
        width: 80%;
        
        img{ width: 10%;}
        
    }
}
@keyframes nine{
    to{
       transform: translate(250px,320px); 
       display:  flex;
       font-size: 135px;
       color: #ffffff;
       
    }
    from{
        transform: translate(250px,1238px);
    }
    
}
@keyframes ten{
    to{
        background-color: #0000008a;
       
    }
    from{
       background-color: #00000000;
    }
    
}
.model__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    letter-spacing: .2rem;
}
.model__content-title{
    margin: 5px;
    font-size: 24px;
}

.model__content-description{
    text-align: left;
    width: 300px;
    font-size: 16px;
   p{ 
    padding: 5px;
    
}
}

.model__content-img{
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-right: 50px;
    img{
        height: 100%;
        width: auto;
    }
}

.main__order{
    //  width: 1000px;
    width: 800px;
     .order__form-kitchen{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

     }
    .radio1 {
        display:none;
    }
    .radio1-img{
        margin: 10px;
        cursor: pointer;
    }
    .radio1-img:hover,.radio1-img:focus-visible{
        border: 1px solid green;
    }
    input[type=radio]:checked~.radio1-img{
        border: 1px solid green;
    }
    margin-left: auto;
    margin-right: auto;
   
    a{color: #f9f6f4;}
    .main_order_main{
        
        font-size: 35px;
    font-weight: 250;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    }
    .main__order_link{
        display: flex;
        flex-direction: column;
        width: 800px;
        border: 1px solid #8EA076;
        margin-top: 35px;
       background-color: #8EA076;
    }
    button{
        margin-top: 10px;
        background-color: #564734;
        border-radius: 40% /120% ;
        width: 200px;
        height: 25px;
        color: #f9f6f4;
        font-size: 16px;
    }
    .order__invoice{background-color: #ddf7d3;}
    .order__raschet{
        color: #ca8f41;
    }
    form{
        background-color: #ddf7d3;
        padding-top: 25px;
        text-align: center;
        font-size: 16px;
        input{
            border-bottom: 1px solid black;
            background-color: #1b861b15;
            // margin-bottom: 10px;
        }
        select{
            border-bottom: 1px solid black;
            background-color: #1b861b15;
            margin-bottom: 10px;
        }
        option{
            background-color: #8EA076; 
        }
        h1,p{
            padding-top: 10px;
            
        }
        label{
            padding-right: 15px;
        }
        
    }
    .order__label{
        padding: 10px;
        font-weight: 500;
    }
    .order__length{
        width: 25px;
    }
    .order__button-raschet{
        margin: 10px;
    }
    .order__contact{
        border-top: 1px solid #8EA076;
    }
}



header{
    .active{
        color: #8EA076;
        cursor: auto;
    }
}
.news{
    display:flex;
    margin: 0 5% 10px ;
    border: 2px solid black;
    background-color: #ffffff; 
    color: #000000;
    width: 50%;
    
    img{
        width: 200px;
    
    }
    .news__text{
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction:column;
        justify-content:space-between;   
            
    }
    p{
        padding: 10px 0px;
    }
    a{
        color: #1A292B;
    }

    
}
.logo__admin{
    padding-top: 50px;
    text-align: center; 
    line-height: 40px;
    letter-spacing: 0.05em;
    legend{
        font-size: large;
        font-weight: 250;
        background-color: #8EA076; 
        width: 100%;
        height: 35px;
        color: #f9f6f4;
        
    }
   
    input{
        background-color: #d3dfc9;
        border: 1px solid black;
    }
    ul{
        width: 800px;
            
        li{
            
            display: flex;
            justify-content: space-around;
        }
        
        
    } 
    button{
        background-color: #564734;
        border-radius: 10% /120% ;
        width: 20%;
        height: 25px;
        color: #f9f6f4;
        font-size: 16px;
    }
}
.admin__order{
    text-align: center;
    
    button{
        margin-top: 15px;
    background-color: #564734;
        border-radius: 10% /120% ;
        width: 30%;
        height: 25px;
        color: #f9f6f4;
        font-size: 16px;
    }
}

.main__admin{
    padding:20px ;
   
}
.admin__massege{
    font-size: 32px;
    color: red;
    
}
.admin__main_main{
    .admin__main-a{
        display: flex;
        flex-direction:row;
        text-align: center;
        
    }
    a{
        color: #A3907E;
        margin: 10px;
        width: 200px;
        padding: 10px 0px;
        border-radius: 20%/100%;
        background-color: #564734;

    }
    
}

.admin__add-card{
    
    h2{
        font-size: 32px;
        padding: 15px;
        text-align: center;
    }
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        input{
            margin-left: 100px;
            background-color: #a3907e10;
           
            border-bottom: 1px solid #A3907E;
            width: 250px;
        }
        button{ 
            color: #A3907E;
            margin: 10px;
            width: 200px;
            padding: 10px 0px;
            border-radius: 20%/100%;
            background-color: #564734;
        }
    }
}
.admin__add-form{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.admin__card-add{
    display: flex;
    padding-left: 15px !important;   
    
}
.admin__card-insert{
    h2{
        font-size: 32px;
        padding: 15px;
        text-align: center;
    }
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        input{
            margin-left: 100px;
            background-color: #a3907e10;
           
            border-bottom: 1px solid #A3907E;
            width: 250px;
        }
       
    } 
    button{ 
            color: #A3907E;
            margin: 10px;
            width: 200px;
            padding: 10px 0px;
            border-radius: 20%/100%;
            background-color: #564734;
        }
        .admin__card-delet{
            text-align: center;
        }
}
.admin__param{
    padding-left: 5%;
    width: 1600px;
    
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    
    
    .admin__param-li{
        
        display: flex;
        justify-content:center;
        div{
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            padding: 15px ;
            border: 1px solid black;
            width: 400px;
            background-color: #8EA076;
            border-radius: 10%/100%;
        }
        
        p{
            padding-right: 10px;
        }
    }
}

.news__cards{
    display: flex;
    justify-content: center;
    flex-direction:column;
    h2{
        text-align: center;
        padding: 15px 0;
        font-size: 30px;
    }
    img{
        
        height: 250px;
        width: auto;
    }
    p{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 15px;
    }
}

.catalog__cards{
    img{width: 100%;}
}
.catalog__cards:hover{
    color: #8EA076;
}
.order__contact-send{
    color:#5d6e45
}
footer{
    
    background-color: #564734;
    flex-shrink: 0;
    

}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    padding-top: 10px;
    padding-left: 5%;

    a{
        color: 	#A38971;
        padding-bottom: 10px;
    }
    
}
.footer__logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: 	beige;
    padding-top: 15px;
    padding-bottom: 50px;
    img{
        width:40px;
        padding-top: 5px;
        padding-right: 5px;
    }
}
.footer__document{
    background-color: #171F21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: 	#3d6a70;
    a{
        color: #689095;
    }
}

@media (max-width: 1540px)  {
    .cards{
        width: 280px;
        height: 280px;
        >h2, >p,>button{
            width: 260px;
            left: 3%;
        }
    }
   
    .cart{
        width: 1000px;
        padding-bottom: 45px;
        margin-left: auto;
    margin-right: auto;
    }
    
}

@media (max-width: 1150px)  {
    .cart{
        width: 800px;
        padding-bottom: 45px;
        margin-left: auto;
    margin-right: auto;
    }
    .cards{
        width: 280px;
        height: 280px;
        >h2, >p,>button{
            width: 260px;
            left: 3%;
        }
    }
    
    
}

@media (max-width:800px) { 
    .cart{
        width: 400px;
        
    }
    
    .model__content-img{
        
        img{
            height: auto;
            width: 100%;
        }
    }
    .news{
        width: auto;
    }
   
   
}

@media (max-width:460px) {
    .model__content-img{
        
        img{
            margin-top: -30px;
        }
    }
    .cart{width: 300px;}
    .cards{
        width: 290px;
        height: 256px;

        >h2, >p,>button{
            width: 290px;
            left: 3%;
        }
    }
    footer{
        padding-top: 10px;
        
    }
    .footer{
        
        height: 187px;
    }
    
}



.news__li{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    img{
        width:10%;
        
    }
}
.news__block{
    border: 2px solid black;
    display: flex ;
}
.news__text{
    display: flex ;
    flex-direction:column;
    justify-content:space-between; 
}